@page
@using System.Globalization
@model IndexModel
@{
    ViewData["Title"] = "Main page";
}

<div class="md:container mx-auto flex w-full">
    <div>
        <b>@Model.TotalReplayCount</b> replays available, from
                @Model.FirstReplay.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)
                to 
                @Model.LastReplay.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)
    </div>
</div>
